<div class="msg-cont">
  <p>
    <strong>
      <%= message.user.first_name %>
    </strong>
    <% if current_user %>
    <%= link_to 'Delete', room_message_path(message.room, message), method: :delete, data: { confirm: 'Are you sure?' }, class: "del-msg" %>
    <% end %>
    <small>
      <br>
      <em>
        <%= "#{time_ago_in_words(message.created_at)} ago" %>
      </em>
    </small>
  </p>
  <p>
    <%= message.content %>
  </p>
</div>
